In [30]:
import pandas as pd
import numpy as np
import plotly.express as px

import sys
sys.path.append('/Users/AaronLee/Documents/GitHub/Retirement_Planning/src')
from traditional_roth_401k import Profit, run_m

In [31]:
mod = Profit()
df = mod.howdy_401k()

Your base salary is $100000
Your upper tax is: 0.24%
Your lower tax is: 0.22%
You can lower your tax bracket to 0.22% by contributing to your traditional 401k: $14475
Contribute the rest to your roth 401k: $4525
-------------------------------------------------------------------------------------
Bimonthly traditional 401k contribution: $603.12
Bimonthly roth 401k contribution: $188.54

In [32]:
run_m()

Current age: 122
Retirment age: 677
Contribution to your 401k: 19000
Average annual return for your 401k: 1.075
Annual return for brokerage: 1.08
Base Salary: 100000
Your base salary is $100000
Your upper tax is: 0.24%
Your lower tax is: 0.22%
You can lower your tax bracket to 0.22% by contributing to your traditional 401k: $14475
Contribute the rest to your roth 401k: $4525
-------------------------------------------------------------------------------------
Bimonthly traditional 401k contribution: $603.12
Bimonthly roth 401k contribution: $188.54

,years,401k_roth,401k_traditional (pre_tax),401k_traditional (post_tax),lost roth 401k oppurtunity_cost,lost roth 401k oppurtunity_cost (capital_gain_tax),difference (trad<>roth)
0,0,19000,19000,14820,6180,4944,-764
1,1,39425,39425,30751,12854,10283,-1609
2,2,61381,61381,47877,20062,16049,-2545
3,3,84984,84984,66287,27846,22276,-3579
4,4,110357,110357,86078,36253,29002,-4723
...,...,...,...,...,...,...,...
551,551,55100353354582129115136,55100353354582129115136,42978275616574062723072,217658658402143645466624,174126926721714929795072,-162004848983706863403008
552,552,59232879856175783346176,59232879856175783346176,46201646287817113862144,235071351074315151867904,188057080859452134916096,-175025847291093465432064
553,553,63675345845388964790272,63675345845388964790272,49666769759403392368640,253877059160260372070400,203101647328208297656320,-189093071242222725234688
554,554,68450996783793135681536,68450996783793135681536,53391777491358647844864,274187223893081235390464,219349779114465001734144,-204290559822030513897472
555,555,73584821542577617502208,73584821542577617502208,57396160803210543497216,296122201804527762407424,236897761443622223347712,-220709100704255149342720

In [27]:
df

,years,401k_roth,401k_traditional (pre_tax),401k_traditional (post_tax),lost roth 401k oppurtunity_cost,lost roth 401k oppurtunity_cost (capital_gain_tax),difference (trad<>roth)
0,0,19000,19000,14820,6180.0,4944,-764
1,1,39425,39425,30751,12854.0,10283,-1609
2,2,61381,61381,47877,20062.0,16049,-2545
3,3,84984,84984,66287,27846.0,22276,-3579
4,4,110357,110357,86078,36253.0,29002,-4723
5,5,137633,137633,107353,45333.0,36266,-5986
6,6,166955,166955,130224,55139.0,44111,-7380
7,7,198476,198476,154811,65730.0,52584,-8919
8,8,232361,232361,181241,77168.0,61734,-10614
9,9,268788,268788,209654,89521.0,71616,-12482
10,10,307947,307947,240198,102862.0,82289,-14540
11,11,350043,350043,273033,117270.0,93816,-16806
12,12,395296,395296,308330,132831.0,106264,-19298
13,13,443943,443943,346275,149637.0,119709,-22041
14,14,496238,496238,387065,167787.0,134229,-25056
15,15,552455,552455,430914,187389.0,149911,-28370
16,16,612889,612889,478053,208560.0,166848,-32012
17,17,677855,677855,528726,231424.0,185139,-36010
18,18,747694,747694,583201,256117.0,204893,-40400
19,19,822771,822771,641761,282786.0,226228,-45218
20,20,903478,903478,704712,311588.0,249270,-50504
21,21,990238,990238,772385,342695.0,274156,-56303
22,22,1083505,1083505,845133,376290.0,301032,-62660
23,23,1183767,1183767,923338,412573.0,330058,-69629
24,24,1291549,1291549,1007408,451758.0,361406,-77265
25,25,1407415,1407415,1097783,494078.0,395262,-85630
26,26,1531971,1531971,1194937,539784.0,431827,-94793
27,27,1665868,1665868,1299377,589146.0,471316,-104825
28,28,1809808,1809808,1411650,642457.0,513965,-115807
29,29,1964543,1964543,1532343,700033.0,560026,-127826
30,30,2130883,2130883,1662088,762215.0,609772,-140977
31,31,2309699,2309699,1801565,829372.0,663497,-155363
32,32,2501926,2501926,1951502,901901.0,721520,-171096
33,33,2708570,2708570,2112684,980233.0,784186,-188300
34,34,2930712,2930712,2285955,1064831.0,851864,-207107
35,35,3169515,3169515,2472221,1156197.0,924957,-227663