In [15]:
import pandas as pd
import numpy as np
import plotly.express as px

'''
ROTH IRA - 6000
TRADITIONAL 401K - 19000
ROTH 401K - 19000
'''

'\nROTH IRA - 6000\nTRADITIONAL 401K - 19000\nROTH 401K - 19000\n'

In [18]:
def roth_401k(years, annual_contribution, percent_return):
    res = annual_contribution
    annual_list =[annual_contribution]
    for i in range(years):
        res = annual_contribution + annual_list[i] * percent_return
        annual_list.append(int(res))
    return annual_list

def traditional_401k_post_tax(df, tax_low):
    # input dataframe with 401k_roth column
    
    res=[]
    for i in df['401k_roth']:
        res.append(int(i*tax_low))
    return res

def tax_bracket(base_salary, annual_contribution):
    # if no tax bracket change, then go with roth 100% -- if bracket changes, put as much in traditional to lower tax bracket
 
    bracket_list = [9875, 40125, 85525, 163300, 207350, 518400]
    tax_list = [0.1, 0.12, 0.22, 0.24, 0.32, 0.35, 0.37]
    diff = base_salary - annual_contribution

    if diff > bracket_list[5]:
        traditional_contribution = 0
        roth_contribution = annual_contribution
    else:
        for i in range(4, 0, -1):
            if bracket_list[i] < diff <= bracket_list[i+1]:
                if base_salary - bracket_list[i+1] < 0:
                    tax_up = tax_list[i+1]
                    tax_low = tax_list[i]
                    traditional_contribution = 0
                    roth_contribution = annual_contribution
                    print('Your tax bracket is: {}%'.format(tax_up))
                    print('Contribute ${} to your traditional 401k'.format(traditional_contribution))
                    print('You should contribute {} to your roth 401k at your current tax rate of {}%'.format(roth_contribution, tax_up))
                else:
                    tax_up = tax_list[i+2]
                    tax_low = tax_list[i+1]
                    traditional_contribution = base_salary - bracket_list[i+1]
                    roth_contribution = annual_contribution - (base_salary - bracket_list[i+1])
                    print('Your upper tax is: {}%'.format(tax_up))
                    print('Your lower tax is: {}%'.format(tax_low))
                    print('You can lower your tax bracket to {}% by contributing to your traditional 401k: ${}'.format(tax_low, traditional_contribution))
                    print('Contribute the rest to your roth 401k: ${}'.format(roth_contribution))
    
    trad = round(traditional_contribution / 24, 2)
    roth = round(roth_contribution / 24, 2)
    print('-------------------------------------------------------------------------------------')
    print('Bimonthly traditional 401k contribution: {}'.format(trad))
    print('Bimonthly roth 401k contribution: {}'.format(roth))

    return traditional_contribution, roth_contribution, (1-tax_up), (1-tax_low)
    

def brokerage_list(years, annual_contribution, percent_return_non_401k, base_salary, tax_up, tax_low):
    roth = base_salary*tax_up - annual_contribution
    traditional = (base_salary-annual_contribution)*tax_low  
    difference = traditional - roth
    
    annual_trad_list =[difference]
    for i in range(years):
        res = difference + annual_trad_list[i] * percent_return_non_401k
        annual_trad_list.append(int(res))
    return annual_trad_list


def brokerage_post_tax(df):
    long_term_capital_gains_tax=0.2
    res=[]
    for i in df['lost roth 401k oppurtunity_cost']:
        res.append(int(i*(1-long_term_capital_gains_tax)))
    return res


'''
--------------------------------------------------------------------------------------------------
'''

def howdy_401k(age, retirement_age, annual_contribution, percent_return, percent_return_non_401k, base_salary):
    print('Your base salary is {}'.format(base_salary))
    years = retirement_age-age
    
    
    # make the table
    df = pd.DataFrame(list(range(years+1)), columns=['years'])
    
    # find tax range
    traditional_contribution, roth_contribution, tax_up, tax_low = tax_bracket(base_salary, annual_contribution)

    # create the return for 401k
    df['401k_roth'] = roth_401k(years, annual_contribution, percent_return)
    df['401k_traditional (pre_tax)'] = roth_401k(years, annual_contribution, percent_return)
    
    # create the return post tax traditional
    df['401k_traditional (post_tax)'] = traditional_401k_post_tax(df, tax_low)
    
    # create brokerage by getting the difference and capturing oppurtunity cost
    brokerage = brokerage_list(years, annual_contribution, percent_return, base_salary, tax_up, tax_low)
    df['lost roth 401k oppurtunity_cost'] = brokerage    
    
    # create brokerage returns post tax
    df['lost roth 401k oppurtunity_cost (capital_gain_tax)'] = brokerage_post_tax(df)
    
    df['difference (trad<>roth)'] = df['401k_roth'] - (df['401k_traditional (post_tax)']+df['lost roth 401k oppurtunity_cost (capital_gain_tax)'])
    
    return df

In [19]:
df=howdy_401k(age=26, retirement_age=65, annual_contribution=19000, percent_return=1.075, 
              percent_return_non_401k=1.08, base_salary=100000)
df

Your base salary is 100000
Your upper tax is: 0.24%
Your lower tax is: 0.22%
You can lower your tax bracket to 0.22% by contributing to your traditional 401k: $14475
Contribute the rest to your roth 401k: $4525
-------------------------------------------------------------------------------------
Bimonthly traditional 401k contribution: 603.12
Bimonthly roth 401k contribution: 188.54

,years,401k_roth,401k_traditional (pre_tax),401k_traditional (post_tax),lost roth 401k oppurtunity_cost,lost roth 401k oppurtunity_cost (capital_gain_tax),difference (trad<>roth)
0,0,19000,19000,14820,6180.0,4944,-764
1,1,39425,39425,30751,12823.0,10258,-1584
2,2,61381,61381,47877,19964.0,15971,-2467
3,3,84984,84984,66287,27641.0,22112,-3415
4,4,110357,110357,86078,35894.0,28715,-4436
5,5,137633,137633,107353,44766.0,35812,-5532
6,6,166955,166955,130224,54303.0,43442,-6711
7,7,198476,198476,154811,64555.0,51644,-7979
8,8,232361,232361,181241,75576.0,60460,-9340
9,9,268788,268788,209654,87424.0,69939,-10805
10,10,307947,307947,240198,100160.0,80128,-12379
11,11,350043,350043,273033,113852.0,91081,-14071
12,12,395296,395296,308330,128570.0,102856,-15890
13,13,443943,443943,346275,144392.0,115513,-17845
14,14,496238,496238,387065,161401.0,129120,-19947
15,15,552455,552455,430914,179686.0,143748,-22207
16,16,612889,612889,478053,199342.0,159473,-24637
17,17,677855,677855,528726,220472.0,176377,-27248
18,18,747694,747694,583201,243187.0,194549,-30056
19,19,822771,822771,641761,267606.0,214084,-33074
20,20,903478,903478,704712,293856.0,235084,-36318
21,21,990238,990238,772385,322075.0,257660,-39807
22,22,1083505,1083505,845133,352410.0,281928,-43556
23,23,1183767,1183767,923338,385020.0,308016,-47587
24,24,1291549,1291549,1007408,420076.0,336060,-51919
25,25,1407415,1407415,1097783,457761.0,366208,-56576
26,26,1531971,1531971,1194937,498273.0,398618,-61584
27,27,1665868,1665868,1299377,541823.0,433458,-66967
28,28,1809808,1809808,1411650,588639.0,470911,-72753
29,29,1964543,1964543,1532343,638966.0,511172,-78972
30,30,2130883,2130883,1662088,693068.0,554454,-85659
31,31,2309699,2309699,1801565,751228.0,600982,-92848
32,32,2501926,2501926,1951502,813750.0,651000,-100576
33,33,2708570,2708570,2112684,880961.0,704768,-108882
34,34,2930712,2930712,2285955,953213.0,762570,-117813
35,35,3169515,3169515,2472221,1030883.0,824706,-127412
36,36,3426228,3426228,2672457,1114379.0,891503,-137732
37,37,3702195,3702195,2887712,1204137.0,963309,-148826
38,38,3998859,3998859,3119110,1300627.0,1040501,-160752
39,39,4317773,4317773,3367862,1404354.0,1123483,-173572

In [27]:
def run_m():
    age = int(input('Current age: '))
    retirement_age = int(input('Retirment age: '))
    annual_contribution = int(input('Contribution to your 401k: '))
    percent_return = float(input('Average annual return for your 401k: '))
    percent_return_non_401k = float(input('Annual return for brokerage: '))
    base_salary = int(input('Base Salary: '))

    return age, retirement_age, annual_contribution, percent_return, percent_return_non_401k, base_salary

In [29]:
age, retirement_age, annual_contribution, percent_return, percent_return_non_401k, base_salary = run_m()

Current age: 11
Retirment age: 66
Contribution to your 401k: 19000
Average annual return for your 401k: 1.075
Annual return for brokerage: 1.08
Base Salary: 100000

In [31]:
df1 = howdy_401k(age, retirement_age, annual_contribution, percent_return, percent_return_non_401k, base_salary)

Your base salary is 100000
Your upper tax is: 0.24%
Your lower tax is: 0.22%
You can lower your tax bracket to 0.22% by contributing to your traditional 401k: $14475
Contribute the rest to your roth 401k: $4525
-------------------------------------------------------------------------------------
Bimonthly traditional 401k contribution: 603.12
Bimonthly roth 401k contribution: 188.54

In [370]:
# df.to_csv('generic_35_year_plan', index=False)

57000.0

In [158]:
traditional=(100000-19000)*0.78
traditional

63180.0

In [159]:
roth = 100000*0.76 - 19000
traditional=(100000-19000)*0.78
difference = traditional - roth
difference

6180.0

In [ ]:
tax_rate = []
    
roth = base_salary*0.76 - 19000   #24% tax rate
traditional = (base_salary-19000)*0.78  #22% tax rate
difference = traditional - roth

In [96]:
df = pd.DataFrame(list(range(31)), columns=['years'])
res = 1000
annual_list =[1000]
for i in range(30):
    res = 1000 + annual_list[i] * 1.10
    annual_list.append(int(res))
df['return'] = annual_list
# df['post_tax'] = 
df

    years  return
0       0    1000
1       1    2100
2       2    3310
3       3    4641
4       4    6105
5       5    7715
6       6    9486
7       7   11434
8       8   13577
9       9   15934
10     10   18527
11     11   21379
12     12   24516
13     13   27967
14     14   31763
15     15   35939
16     16   40532
17     17   45585
18     18   51143
19     19   57257
20     20   63982
21     21   71380
22     22   79518
23     23   88469
24     24   98315
25     25  109146
26     26  121060
27     27  134166
28     28  148582
29     29  164440
30     30  181884

In [39]:
for i in [1000] * 10:
    print(i*1.07)

1070.0
1070.0
1070.0
1070.0
1070.0
1070.0
1070.0
1070.0
1070.0
1070.0

In [50]:
annual_return = 1000
annual_list =[1000]
for i in range(9):
    annual_return += 1000 * 1.07
    annual_list.append(annual_return)

In [51]:
annual_return

10630.0

In [ ]:
def tax_bracket(base_salary):

In [306]:
# if no tax bracket change, then go with roth 100% -- if bracket changes, put as much in traditional to lower tax bracket
base_salary = 100000
annual_contribution = 15000

bracket_1 = 9875
bracket_2 = 40125
bracket_3 = 85525
bracket_4 = 163300
bracket_5 = 207350
bracket_6 = 518400
bracket_list = [bracket_1, bracket_2, bracket_3, bracket_4, bracket_5, bracket_6]
diff = base_salary - annual_contribution

if diff > bracket_6:
    traditional_contribution = 0
    roth_contribution = annual_contribution
else:
    for i in range(4, 0, -1):
        if bracket_list[i] < diff <= bracket_list[i+1]:
            if base_salary - bracket_list[i+1] < 0:
                traditional_contribution = 0
                roth_contribution = annual_contribution
            else:
                traditional_contribution = base_salary - bracket_list[i+1]
                roth_contribution = annual_contribution - (base_salary - bracket_list[i+1])
            
print('traditional: {}'.format(traditional_contribution))
print('roth: {}'.format(roth_contribution))

traditional: 14475
roth: 525

5